body
    // color: #222222
    background-color: #222222

a
    &:hover
        color: #009432

button, .btn
    display: inline-block
    background-color: #009432
    padding: 12px 24px
    color: #ffffff
    &:hover
        background-color: #00802b
